table, th, td {
    border: 1px solid rgb(197, 75, 75);
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
  }
  .outerborder{
    margin: auto;
    border: 1px solid #d86969;
    padding:50px 50px 50px 50px ;
    
    width:400px;
    height:2000px;

    
    text-align: left;
    background-color:rgb(243, 193, 101);
    color:black;
    display:inline-block;
  }